<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
    </header>

    <main>
        {{ content }}
    </main>

    <footer style="margin-top: 50px; text-align: center;">
        <p>Lukas D. Fesser<br>
        Department of Applied Mathematics and<br>
        Kempner Institute for Natural and Artificial Intelligence<br>
        Harvard University<br>
        Cambridge, MA 02138<br>
        <a href="mailto:lukas_fesser@g.harvard.edu">lukas_fesser@g.harvard.edu</a></p>
    </footer>
</body>
</html>
